.up{margin-left: 25%;
    margin-right: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    background-color: blueviolet;
    border-radius: 20px;
    }



.blog{background-color: aqua;
    border: 3px solid blue;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    }

.author{color: blueviolet;
    font-style: italic;
}

.para{
    text-align: justify;
}

.btitle{
    text-align: center;
    text-decoration: underline;
}